* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nave {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    box-shadow: 2px 4px 10px #ff6a00;
}

.cart-info {
    padding: 10px;
    border-radius: 50px;
    position: relative;
    text-align: center;
    border: 2px solid #ff6a00;
}

.cart-info span {
    position: absolute;
    top: 18px;
    right: 5px;
    z-index: 1;
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 50%;
    background-color: #ff6a00;
    color: #fff;
}

.cart-side-bar {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    overflow: scroll;
    height: 100vh;
    width: 300px;
    background-color: #fff;
    padding: 10px;
    transition: .9s;
    display: none;
}


.items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.cart-display {
    width: 100%;
    height: 80px;
    margin: 0 0 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ff6a00a1;
}

.cart-display img {
    height: 100%;
    width: 50px;
    border-radius: 10px;
}

.cart-side-id {
    text-align: end;
}

.cart-side-id h5 {
    margin-bottom: 10px;
}

.cart-side-id span {
    font-size: 13px;
}

.total {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #ff6a00;
    font-weight: 700;
    font-size: 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 4rem auto;
    width: 80%;
    justify-content: center;
}

.products-item {
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.products-item img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.products-item h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.products-item span {
    font-size: 16px;
    color: #ff6a00;
}

.add-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: #ff6a00;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    padding: 7.5px 10px;
    transition: 0.3s;
}

.add-cart:hover {
    transform: translateY(-5px);
}

.add-cart i {
    margin-right: 10px;
}

footer {
    background-color: #ff6a00;
    width: 100%;
    padding: 0 20px;
    color: #fff;
}

.foot {
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 80px 0;
}

.foot ul {
    text-align: center;
}

.foot ul h3 {
    margin-bottom: 1rem;
}

.foot ul li {
    display: block;
    line-height: 30px;
    cursor: pointer;
}

.foot .ul-icon li {
    display: inline-block;
    padding-left: 10px;
}

.foot .ul-icon li i {
    font-size: 20px;
}

@media (max-width: 576px) {
    .products {
        grid-template-columns: auto;
    }

    .foot {
        grid-template-columns: auto;
        row-gap: 2rem;
    }
}